<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19822113299-l14c3jlk1ubv8f9gj15ej2pl1j9289a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19822113299-l14c3jlk1ubv8f9gj15ej2pl1j9289a2</string>
	<key>API_KEY</key>
	<string>AIzaSyARGpmh0yAt1LXCLqQelyXe1Y0OcM9AQC4</string>
	<key>GCM_SENDER_ID</key>
	<string>19822113299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.briannewton.hangout</string>
	<key>PROJECT_ID</key>
	<string>flutter-apps-da629</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apps-da629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19822113299:ios:166de95b79f1a0cc1cc5e6</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-apps-da629-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>